.contact_info {
    color: rgb(250, 250, 250);
    font-size: 35px;
    margin-top: 40px;
    width: 100%;
    height: 50px;
    font-size: 38px;
    display: block;
}

.link {
    width: 200px;
    border-radius: 30px;
    height: 100%;

    font-size: 40px;

    text-decoration: none;
    text-align: center;

    display: inline-block;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255);
    background-color: rgb(24, 25, 20);
    transition: 0.2s;
}

.link:hover{
    background-color: rgb(43, 43, 43);
    transition: 0.5s;
}