.main_page{
   padding-left: 21%;
}

.lower_title {
    color: rgb(200, 200, 200);
    font-size: 38px;
}

.title {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-lower: 10px;
    font-size: 76px;
}

.performing_card_base{
    width: 700px;
    height: 620px;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
     transition: 0.2s;

    padding: 20px;
}

.performing_card_base:hover {
    width: 700px;
    height: 620px;
    background-color: rgb(30, 30, 30);
}

.performing_card_image {
    border-radius: 20px;
    width: 100%;
    height: 400px;
}

.performing_card_title {
    color: rgb(200, 200, 200);
    padding-top: 10px;
    font-size: 48px;
    height: 45px;
}

.performing_card_description {
    color: rgb(150, 150, 150);
    padding-top: 10px;
    font-size: 23px;
    height: 105px;
}

.performing_card_button {
    text-decoration: none;
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 40px;
    background-color: rgb(40, 80, 40);
    width: 100%;
    height: 50px;

    border-radius: 20px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.performing_card_button:hover {
    background-color: rgb(30, 60, 30);
    color: rgb(170, 170, 170);
}