.main_page{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_text{
    text-align: center;
    font-size: 36px;
    padding: 0px;
    color: rgb(200, 200, 200);
}

.register_menu {
    padding: 2%;
    border: 2px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 50px 30px rgba(34, 60, 80, 0.2);
    background-color: rgb(30, 30, 30);
    color: rgb(150, 150, 150);
    width: 20%;
    height: 65%;
    border-radius: 50px;
    transition: 0.4s;
}

.register_menu:hover {
    box-shadow: 0px 0px 60px 30px rgba(34, 60, 80, 0.4);
}

.input {
    border-radius: 20px;
    padding-left: 16px;
    border: 2px solid rgb(60, 60, 60);
    background-color: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 40px;
    font-family: Lucida Console;
    transition: 0.3s;

}

.input:hover {
    border-color: rgb(100, 100, 100);
    background-color: rgb(45, 45, 45);
}

.input:focus {
    border-color: rgb(0, 120, 255);
    background-color: rgb(50, 50, 50);
}

.submit_button {
    width: 70%;
    height: 50px;
    background-color: rgb(40, 100, 40);
    color: rgb(230, 230, 230);
    font-size: 25px;
    border-radius: 20px;
    outline: none;
    font-family: Lucida Console;
    transition: 0.2s;
    border: none;
    margin-top: 50px;
}

.submit_button:hover {
    background-color: rgb(30, 70, 30);
}

.submit_button_wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.already_have_account_text {
    font-size: 15px;
    color: rgb(100, 100, 100);
}