.main_page{
    margin-top: 5%;
    margin-left: 22%;
}

.lower_title {
    color: rgb(200, 200, 200);
    font-size: 38px;
}

.title {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-lower: 10px;
    font-size: 76px;
}

html {
    background-color: rgb(10, 10, 10);
    font-family: Lucida Console;
    background-image: url('images/contacts_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.upper_menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 8%;
    width: 100%;
    background-color: rgb(20, 20, 20);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userdata_name {
    font-size: 36px;
    color: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.placeholder_login_button {
    font-size: 36px;
    color: rgb(80, 80, 160);
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid rgb(60, 60, 120);
    border-radius: 25px;
    transition: 0.2s;
}

.placeholder_login_button:hover {
    color: rgb(90, 90, 180);
    background-color: rgba(100, 100, 140, 0.2);
}

.userdata_photo {
    height: 100%;
    border-radius: 50%;
}

.user_tablet {
    margin-right: 20px;
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.concert_maker_main_name {
    margin-left: 25px;
    text-decoration: none;
    z-index: 200;
    color: rgb(180, 180, 180);
    font-size: 45px;
}

.dropping_menu {
    position: fixed;
    background-color: rgb(18, 18, 18);
    width: 20%;
    height: 92%;
    color: white;
    left: 0;
    top: 8%;
}

.dropping_menu_buttons {
    text-decoration: none;
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 40px;

    height: 16.66666666666667%;
    width: 100%;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(20, 20, 20);
}

.dropping_menu_buttons:hover {
    background-color: rgb(80, 80, 80);
    color: rgb(40, 40, 40);
    padding-left: 30px;
}

.dropping_menu_buttons_pressed {
    background-color: rgb(40, 40, 40);
    color: rgb(120, 120, 120);
    padding-left: 20px;
}