<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

<div class="main_page">

    <div class="login_menu">
        <div class="login_text">Login</div>
        <form action="" method="post">
            <div class="form_input_box">
                <p>username *</p>
                <input type="text" name="username" id="username" class="input" required>
            </div>
            <div class="form_input_box">
                <p>password *</p>
                <input type="password" name="password" id="password" class="input" required>
            </div>
            <div class="dont_have_account_text">Ещё нет аккаунта? <a href="register">Создать аккаунт</a></div>
            <div class="submit_button_wrapper">
                <button type="submit" class="submit_button">Отправить</button>
            </div>
        </form>
    </div>
</div>

<div class="upper_menu">
    <a class="concert_maker_main_name" href="/">Concert maker</a>
    <div class="user_tablet">
        {% if userdata.is_placeholder %}
        <a class="placeholder_login_button" href="login">Login</a>
        {% else %}
        <div class="userdata_name">{{userdata.name}}</div>
        {% endif %}
        <img class="userdata_photo" src="{{userdata.photo}}">
    </div>
</div>


</body>
</html>