<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Space</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="main_page">
    <h1 class="title">Пространство для выступлений</h1>
    <p class="lower_title">Найдите идеальную площадку для своих выступлений</p>
</div>

<div class="dropping_menu">
    <a class="dropping_menu_buttons" href="/">Главная</a>
    <a class="dropping_menu_buttons dropping_menu_buttons_pressed" href="/space">Пространство</a>
    <a class="dropping_menu_buttons" href="/poster">Афиша</a>
    <a class="dropping_menu_buttons" href="/gallery">Галерея</a>
    <a class="dropping_menu_buttons" href="/guests">Гостям</a>
    <a class="dropping_menu_buttons" href="/contacts">Контакты</a>
</div>
</body>
</html>