<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Space</title>
    </head>
    <body>
        <p>Данный сайт был создан в 2026 году</p>
        <p>Мы, всей командой усердно трудились ради того<br>
        что бы каждый человек смог с лёгкостью попасть<br>
        на новый и интересный концерт, тем самым, мы стараемся<br>
        создать принципиально новую почву для развития музыкальной культуры<br>
        и просвещения нашего общества.</p>

    </body>
</html>